

.submenu{
	position: absolute;
	background: #37D1A5  ;
	width: 15%;
	visibility: visible;
	opacity: 0;
	transition: opacity 1.5s;
	z-index: 1000;
}

.submenu li a{
	color:#000;
    display:block;
    font-weight:normal;
    line-height:20px;
    margin:0px;
    padding:0px 15px;
    text-align:left;
    text-decoration:none;
}

.list:hover .submenu{
	visibility: visible;
	opacity: .8;
}